h1 {
    color: rgb(255, 225, 56);
}
h1{
    text-align: center;
}

#firstP{
    color: rgb(255, 225, 56);
}

#firstP{
    text-align: center;
}

body{
    background-image: url(kindpng_998590.png), url("close-up-of-wooden-plank-326311.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size:5cm, 100% 100%;
    background-position: right top;
}

body {
    font-family: Arial;
    font-size: 20px;
}

body {
    color: whitesmoke
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


img {
    border: 1rem solid whitesmoke;
}

img {
    border: 1rem solid rgb(255, 225, 56);
  }

  h3 {
      color: rgb(255, 225, 56);
  }

  h3{
      text-align: center;
  }
  ol {
      background-color: rgb(255, 225, 56);
  }